<h1>About Page</h1>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Demo App</h5>
    <h6 class="card-subtitle mb-2 text-muted">CRUD Operations</h6>
    <p class="card-text">This simple CRUD operations for learning purpose</p>
    <a class="card-link btn btn-primary" href="./login">Login</a>
    <a class="card-link btn btn-primary"  href="./register">Register User</a>
  </div>
</div>