<h2>Add new Student</h2>

<form method="POST" action="create_student">
    <div class="form-group">
        <label for="name">Student Name</label>
        <input type="text" class="form-control" name="name">
      </div>
    <div class="form-group">
        <label for="emil">Email address</label>
        <input type="email" class="form-control"  name="email">
      </div>
    <button class="btn btn-primary">Add Student</button>

</form>
