<h2>Update Student</h2>
<form method="POST" action="../edit_student/<%- student.student._id %>">
    <div class="form-group">
        <label for="name">Student Name</label>
        <input type="text" class="form-control" name="name" value="<%- student.student.name %>">
      </div>
    <div class="form-group">
        <label for="emil">Email address</label>
        <input type="email" class="form-control"  name="email" value="<%- student.student.email %>">
      </div>
    <button class="btn btn-primary">Update Student</button>

</form>
